In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Read in data- sourced: https://www.kaggle.com/datasets/headsortails/covid19-us-county-jhu-data-demographics
cd = pd.read_csv("covid_us_county.csv")
cd

,fips,county,state,lat,long,1/1/23,1/2/23,1/3/23,1/4/23,1/5/23,...,2/19/23,2/23/23,2/24/23,2/25/23,2/26/23,2/27/23,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,18961,18961,18961,19205,19205,...,19686,19732,19732,19732,19732,19732,2020-01-22,0,AL,0
1,1001.0,Autauga,Alabama,32.539527,-86.644082,18961,18961,18961,19205,19205,...,19686,19732,19732,19732,19732,19732,2020-01-23,0,AL,0
2,1001.0,Autauga,Alabama,32.539527,-86.644082,18961,18961,18961,19205,19205,...,19686,19732,19732,19732,19732,19732,2020-01-24,0,AL,0
3,1001.0,Autauga,Alabama,32.539527,-86.644082,18961,18961,18961,19205,19205,...,19686,19732,19732,19732,19732,19732,2020-01-25,0,AL,0
4,1001.0,Autauga,Alabama,32.539527,-86.644082,18961,18961,18961,19205,19205,...,19686,19732,19732,19732,19732,19732,2020-01-26,0,AL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3612697,56045.0,Weston,Wyoming,43.839612,-104.567488,1880,1880,1880,1880,1880,...,1897,1903,1903,1903,1903,1903,2022-12-29,1880,WY,22
3612698,56045.0,Weston,Wyoming,43.839612,-104.567488,1880,1880,1880,1880,1880,...,1897,1903,1903,1903,1903,1903,2022-12-30,1880,WY,22
3612699,56045.0,Weston,Wyoming,43.839612,-104.567488,1880,1880,1880,1880,1880,...,1897,1903,1903,1903,1903,1903,2022-12-31,1880,WY,22
3612700,56045.0,Weston,Wyoming,43.839612,-104.567488,1880,1880,1880,1880,1880,...,1897,1903,1903,1903,1903,1903,2023-01-22,1884,WY,22
3612701,56045.0,Weston,Wyoming,43.839612,-104.567488,1880,1880,1880,1880,1880,...,1897,1903,1903,1903,1903,1903,2023-02-22,1903,WY,23

In [4]:
# Checking length of FIPS, we should use FIPS instead of counties BECAUSE there may be duplicates of counties that we do not
# want to lose information from!
len(cd.fips.unique())

3333

In [5]:
# Getting total amount of cases and deaths macro view
cc = cd.groupby('fips').agg(
    {'cases': 'max', 'deaths': 'max', 'lat': 'max', 'long': 'max', 'county': 'max'})

In [6]:
cc

         cases  deaths        lat        long      county
fips
60.0      8320      34 -14.271000 -170.132000         NaN
66.0     60960     420  13.444300  144.793700         NaN
69.0     13605      41  15.097900  145.673900         NaN
78.0     24741     130  18.335800  -64.896300         NaN
1001.0   19732     230  32.539527  -86.644082     Autauga
...        ...     ...        ...         ...         ...
90053.0   4237      10   0.000000    0.000000  Unassigned
90054.0     37      20   0.000000    0.000000  Unassigned
90055.0     61       0   0.000000    0.000000  Unassigned
90056.0    200      36   0.000000    0.000000  Unassigned
99999.0    103       3   0.000000    0.000000         NaN

[3332 rows x 5 columns]

In [7]:
# Dropping rows where NAN
cc = cc.dropna()
cc

         cases  deaths        lat       long      county
fips
1001.0   19732     230  32.539527 -86.644082     Autauga
1003.0   69641     724  30.727750 -87.722071     Baldwin
1005.0    7451     103  31.868263 -85.387129     Barbour
1007.0    8067     109  32.996421 -87.125115        Bibb
1009.0   18616     261  33.982109 -86.567906      Blount
...        ...     ...        ...        ...         ...
90051.0      3     140   0.000000   0.000000  Unassigned
90053.0   4237      10   0.000000   0.000000  Unassigned
90054.0     37      20   0.000000   0.000000  Unassigned
90055.0     61       0   0.000000   0.000000  Unassigned
90056.0    200      36   0.000000   0.000000  Unassigned

[3326 rows x 5 columns]

In [8]:
# Dropping rows where Unassigned exists under county (if we ever need those covid numbers we can come back and pull them if we want 
# but meh)
cc = cc[cc.county != 'Unassigned']

In [9]:
cc

         cases  deaths        lat       long     county
fips
1001.0   19732     230  32.539527 -86.644082    Autauga
1003.0   69641     724  30.727750 -87.722071    Baldwin
1005.0    7451     103  31.868263 -85.387129    Barbour
1007.0    8067     109  32.996421 -87.125115       Bibb
1009.0   18616     261  33.982109 -86.567906     Blount
...        ...     ...        ...        ...        ...
80051.0      0       0   0.000000   0.000000  Out of VA
80053.0      0       0   0.000000   0.000000  Out of WA
80054.0      0       0   0.000000   0.000000  Out of WV
80055.0      0       0   0.000000   0.000000  Out of WI
80056.0      0       0   0.000000   0.000000  Out of WY

[3274 rows x 5 columns]

In [10]:
# Dropping "Out of" rows. :/ there is also a df.column.str.endswith as well.

cc = cc[~cc.county.str.startswith('Out of')]

In [11]:
cc

         cases  deaths        lat       long     county
fips
1001.0   19732     230  32.539527 -86.644082    Autauga
1003.0   69641     724  30.727750 -87.722071    Baldwin
1005.0    7451     103  31.868263 -85.387129    Barbour
1007.0    8067     109  32.996421 -87.125115       Bibb
1009.0   18616     261  33.982109 -86.567906     Blount
...        ...     ...        ...        ...        ...
72145.0  20244       0  18.428262 -66.397924  Vega Baja
72147.0   1792       0  18.123276 -65.440971    Vieques
72149.0   7584       0  18.127951 -66.473115   Villalba
72151.0  10259       0  18.070399 -65.896289    Yabucoa
72153.0  11301       0  18.080374 -66.858814      Yauco

[3222 rows x 5 columns]

In [12]:
pd.set_option('display.max_rows', None)

In [13]:
cc.head()

        cases  deaths        lat       long   county
fips
1001.0  19732     230  32.539527 -86.644082  Autauga
1003.0  69641     724  30.727750 -87.722071  Baldwin
1005.0   7451     103  31.868263 -85.387129  Barbour
1007.0   8067     109  32.996421 -87.125115     Bibb
1009.0  18616     261  33.982109 -86.567906   Blount

In [14]:
## realizing i need to reset the index
cc.columns

Index(['cases', 'deaths', 'lat', 'long', 'county'], dtype='object')

In [15]:
## Resetting index, matches other dfs how convenient (will have to perform a merge and ditch rows that don't match other df tho
# in next iteration)
cc.reset_index(inplace= True)

In [16]:
cc.head()

     fips  cases  deaths        lat       long   county
0  1001.0  19732     230  32.539527 -86.644082  Autauga
1  1003.0  69641     724  30.727750 -87.722071  Baldwin
2  1005.0   7451     103  31.868263 -85.387129  Barbour
3  1007.0   8067     109  32.996421 -87.125115     Bibb
4  1009.0  18616     261  33.982109 -86.567906   Blount

In [17]:
# checking columns
cc.columns

Index(['fips', 'cases', 'deaths', 'lat', 'long', 'county'], dtype='object')

In [18]:
# column rename
cc = cc.rename(columns={'fips': 'FIPS', 'cases': 'Cases',
               'deaths': 'Deaths', 'lat': 'Lat', 'long': 'Long', 'county': 'County'})

In [19]:
cc.head()

     FIPS  Cases  Deaths        Lat       Long   County
0  1001.0  19732     230  32.539527 -86.644082  Autauga
1  1003.0  69641     724  30.727750 -87.722071  Baldwin
2  1005.0   7451     103  31.868263 -85.387129  Barbour
3  1007.0   8067     109  32.996421 -87.125115     Bibb
4  1009.0  18616     261  33.982109 -86.567906   Blount

In [20]:
# Formatting
cc.dtypes

FIPS      float64
Cases       int64
Deaths      int64
Lat       float64
Long      float64
County     object
dtype: object

In [21]:
# Changing FIPS to int
cc = cc.astype({"FIPS": "int"})
cc.head()

   FIPS  Cases  Deaths        Lat       Long   County
0  1001  19732     230  32.539527 -86.644082  Autauga
1  1003  69641     724  30.727750 -87.722071  Baldwin
2  1005   7451     103  31.868263 -85.387129  Barbour
3  1007   8067     109  32.996421 -87.125115     Bibb
4  1009  18616     261  33.982109 -86.567906   Blount

In [22]:
cc.to_csv('JHU_Covid_Cases_Processing_Complete.csv')